.title-box {
    display: flex;
    border: 3px solid rgb(39, 39, 39);
    margin: 25px;
}

.title-box .recipe-title {
    padding: 50px;
    
    color: cadetblue;
    font-weight: 700;
    font-size: 48px;
    font-family: Helvertica, sans-serif;
    flex: auto;
    text-align: center;
}

button {
    font-weight: bold;
    color: black;
    background-color: aquamarine;
}

.homepage {
    font-size: 24px;
}

h2,h3 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

p strong {
    background-color: yellow;
}

img {
    height: auto;
    width: 360px;
}