body {
    margin: 15px;
}

.title-box {
    display: flex;
    border: 3px solid rgb(39, 39, 39);
    flex-direction: column;
}

.title-box .recipe-title {
    padding-top: 50px;
    padding-bottom: 10px;
    color: cadetblue;
    font-weight: 700;
    font-size: 48px;
    font-family: Helvetica, sans-serif;
    flex: auto;
    text-align: center;
}

.title-box .tristan {
    font-style: italic;
    margin: auto;
    padding-bottom: 50px;
}

.homepage {
    display: flex;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}

.dan-dan, .tuna, .broc {
    display: inline-block;
    border: 3px solid rgb(39, 39, 39);
    padding: 15px;
    flex: auto;
    text-align: center;

    margin-right: 15px;
}

.homepage .broc {
    margin-right: 0px;
}

.homepage button {
    display:block;

    padding: 10px;
    font-weight: 700;
    color: black;
    background-color: aquamarine;

    margin: auto;
    margin-top: 8px;
}

.recipe-box {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    border: 3px solid rgb(39, 39, 39);
    
}

.recipe-box .recipe-heading {
    flex: auto;
    font-family: Helvetica, sans-serif;
    font-size: 48px;
    color: cadetblue;
    padding: 30px;
    text-align: center;
    font-weight: 700;
}

.recipe-box p {
    margin-top: 1px;
    text-align: center;
}



p {
    font-size: 18px;
}

p strong {
    background-color: yellow;
}

img {
    height: auto;
    width: 360px;
}